*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --white: #F5F5F5;
    --dark-white: #EAECEF; 
    --lite-white:#ffffff;
    --orange: rgb(255,182,103);
    --lite-orange:#fcba46;
    --linear:linear-gradient(90deg, var(--orange), rgb(248, 169, 33) 67%);;
    --boxshadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} 
body{
    background: var(--orange)!important;
    background: var(--linear)!important;
    /* background-image: linear-gradient(90deg , #faf2d6,#FFAA51) !important; */
    color: var(--lite-white)!important;
    font-size: 100%;
      /* background-color: var(--lite-white)!important; */
}
.side-bar{
    /* position: fixed; */
    height: 520px;
    width: 20%;
    overflow-y: hidden;
}
.side-bar:hover{
    overflow-y: scroll;
} 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: #d4d5d8;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #767677;
}
.parent-div{
    /* background-color: var(--lite-white)!important; */
    margin-top: 15px;
    height: 630px;
    /* border: solid; */
    width: 100%;
    border-radius: 20px;
    display: flex;
    box-shadow: #fff 0px 2px 8px 0px;
}
.current-data-div{
    width: 60%;
    height: 630px;
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.few-days-div{
    width: 40%;
    height: 620px;
    /* border: solid; */
}
.current-data-child{
    margin-top: 10px;
    height: 200px;
    width: 100%;
    /* border: solid; */
    /* background-color: var(--dark-white); */
}
.search-button{
    display: flex;
}
.search-button input{
    margin-top: 5px;
   height: 40px;
   width: 100%;
   border-radius: 50px;
}
.search-button button{
    margin-top: 10px;
   height: 40px;
   width: 10%;
}
.icon-tempreature{
    display: flex;
}
.icon-tempreature>div {
    width: 50%;
    /* border: solid; */
    height: 140px;
}

.weather-change-images{
    display: flex;
    justify-content: end;
}
.weather-change-images img{
    height: auto;
    width: 40%;
    object-fit: contain;
}
.current-data-child2{
    margin-top: 10px;
    height: 180px;
    width: 100%;
    background-color: var(--orange);
    box-shadow: var(--boxshadow);
    border-radius: 15px;
   overflow :hidden;

}
.daily-weather-parent{
    display: flex;
    background-color: var(--orange);
    border-radius: 20px;
    margin-right: 2%;
    color: #000;
    overflow-x: hidden;
}
.daily-weather-parent:hover{
    /* margin-top: 10px; */
    overflow-x:scroll;
}
.daily-weather{
    height:130px;
    min-width:110px ;
    box-shadow: var(--boxshadow);
    margin-left: 2%;
    margin-top: 5px;
    background-color: var(--lite-white);
    border-radius: 10px;
    /* border: solid; */
}
.daily-weather>div{
  /* border: solid; */
  text-align: center;
  margin-top: 5px
}
.image{
    /* border: solid; */
    text-align: center;
    width: 60%;
    height: auto;
    object-fit: contain;
    /* margin:0 auto; */
    
  }
.daily-weather>h4{
    margin-top:3px;
    /* border: solid; */
    text-align: center;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
.air-condition{
    /* border: solid; */
    width: 100%;
    height: 100px;
    background-color: var(--orange);
    border-radius: 15px;

}

.current-data-child3{
    margin-top: 10px;
    height: 200px;
    width: 100%;
    /* border: solid; */
    background-color: var(--orange);
    box-shadow: var(--boxshadow);
    border-radius: 15px;
    
}
.air-condition-child1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 15px;
    /* border: solid; */
}
.air-condition-child1>div{
    /* text-align: center; */
    width: 40%;
    /* border: solid; */
    height: 80px;
}